
@{
    ViewBag.Title = "Home";
}



<div class="row" id="homemain">
    <div class="col-md-4">
        <h4>Track my run</h4>
        <p>
            <img alt="Track" class="homepageicon" width="90%" src="@Url.Content("~/Images/track.jpg")" />
        </p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h4>Your distances</h4>
        <p>
            <img  alt="Distances" class="homepageicon" width="90%"  src="@Url.Content("~/Images/distances.jpg")" />
        </p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h4>Analysis</h4>
        <p>
            <img alt="Analysis" class="homepageicon" width="90%" src="@Url.Content("~/Images/analysis.jpg")" />
        </p>
        <p>&nbsp;</p>
    </div>
</div>