<form ng-app="clubApp" ng-controller="trackController" name="myform" novalidate ng-submit="myform.$valid">
    <div class="text-center">
        <div>
            <p>{{ message }}</p>
            <div class="text-title-padding">
                <p class="text-left">
                    Distance (km)
                </p>
                <p class="text-left">
                    <input type="number" min="0" max="999" ng-model="traceItem.distance" name="rundistance" id="rundistance" placeholder="Kilometer" class="input-lg" required="" />
                    {{myform.$submitted  }}
                    <div class="text-left" >
                        <span class="error" ng-show="myform.rundistance.$error.required"
                            Required!
                        </span>
                        <span class="error" ng-show="myform.rundistance.$error.max">
                            Not valid!
                        </span>
                    </div>
                </p>
            </div>
            <div class="text-title-padding">
                <p class="text-left">
                    Date
                </p>
                <p class="text-left">
                    <input type="date" ng-model="traceItem.runDate" placeholder="yyyy-MM-dd" name="input" id="rundate" class="input-lg" required  />
                </p>
                <p>
                    
                </p>
            </div>

            <div class="text-title-padding">
                <p class="text-left">
                    Evidence
                </p>
                <p class="text-left">
                    <div class="text-left">
                        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="image/*" ngf-max-height="5000" ngf-max-size="5MB">
                            Select File
                        </button>
                        <br>
                        File:
                        <div style="font:smaller">
                            {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                            <span class="progress" ng-show="f.progress >= 0">
                                <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                            </span>
                        </div>
                        {{errorMsg}}
                        <img ng-show="f.result.length > 0"  ng-src="{{f.result}}" width="80%">
                    </div>
                </p>
            </div>
            <div class="text-title-padding text-left">
                <button type="button" class="btn btn-success" ng-click="saveData()">Save</button>
            </div>
        </div>
    </div>
</form>