body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Exo', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homemain h4 {
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    text-align:left;
}


#img_logo {
    float:left;
    padding-top:10px;
    margin-right:5px;
    margin-left:5px;
}

.homepageicon {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

.text-title-padding {
    margin-left:20px;
    margin: 20px 0 0 20px;
}

.bar {
    height: 18px;
    background: green;
}

::-webkit-input-placeholder {
   color: lightgrey;
}

:-moz-placeholder { /* Firefox 18- */
   color: lightgrey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lightgrey;  
}

:-ms-input-placeholder {  
   color: lightgrey;  
}


/*upload control*/
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
/*end upload control*/